.main {
    max-width: 1150px;
    padding: 0 1.5rem;
}

.main h2 {
    font-family: "Roboto", "serif";
    margin-bottom: 1rem;
}

.main p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
    font-family: "Roboto", "serif";
}
