.navbar {
    background: none;
}

.navbar.active {
    background-color: #fff;
}

.logo-span {
    color: white;
}

.item {
    color: white;
}
.item::before {
    background-color: white;
}

.active .logo-span {
    color: black;
}

.active .item {
    color: black;
}

.active .item::before {
    background-color: black;
}

@media screen and (max-width: 700px) {
    .item {
        color: #000;
    }
}
