.projekti__container {
    max-width: 1150px;
    margin-inline: auto;
}

.projekti__card {
    background-color: #191c21;
    margin: 1rem 0;
    padding: 0.8rem;
}

.projekti__card h4 {
    font: 500 1.2rem var(--raleway);
    color: var(--light-yellow);
}

.projekti__card h1 {
    font: 500 2.2rem var(--roboto);
    color: #fff;
}
