.main1 {
    background: rgb(255, 255, 255);
    height: auto;
    max-width: 1150px;
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}
h2 {
    font-size: 3rem;
    font-family: var(--roboto);
    text-align: center;
    color: #fff;
    padding-top: 1rem;
    text-transform: uppercase;
}
.products {
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: white;
    padding: 20px;
}
.gallery-image {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-image img {
    height: 380px;
    width: 330px;
    transform: scale(1);
    transition: transform 0.4s ease;
}

.category {
    padding: 10px;
    border-bottom: rgb(134, 134, 134) solid 1px;
    color: black;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: var(--roboto);
}

.img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 380px;
    width: 280px;
    overflow: hidden;
    display: inline-block;
    color: #000;
    position: relative;
    background-color: white;
}

.caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
    height: 380px;
    width: 330px;
    background-color: rgba(2550, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
}

.img-box:hover img {
    transform: scale(1.1);
}

.img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1;
}

.img-box:hover {
    cursor: pointer;
}

.caption > p:nth-child(2) {
    font-size: 0.8em;
}

.opacity-low {
    opacity: 0.5;
}
